# Ocultar el código fuente en GitHub (solo tú lo verás localmente)
convertidor_V1.0.spec
convertidor_V1.0.py
convertidor_V1.1.py

# Ignorar archivos generados por PyInstaller
build/
*.spec
__pycache__/

# Asegurarse de que el ejecutable sí se suba a GitHub
!dist/convertidor.exe
